body{
  background-color: #edd0e1;
}
.logonavbar{
  width: 100px;
  height: 50px;
}
.navbar{
  background-color: #511876;
}

.navbar a{
  font-family: 'Noto Sans Thai', sans-serif !important;
  color: white;
}
.navbar ul{
  background-color: #511876;
}
.container-fluid{
  background-color: #511876;
}
h1{
  line-height: 1.5;
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 3rem ;
}
.card-title{
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 2rem ;
  color: black ;
}
.card-text{
  color: black ;
}
#title{
  background-color: #511876;
  color: #fff;
}

.center{
  text-align: center;
}
.bigtitle{
  font-size: 5rem;
}
.nexttitle{
  font-size: 4rem;
}
.center-text{
  text-align: center;
  font-size: 3rem ;
}
.image-row{
width: 100%;
margin:50px auto ;
text-align: center;
}

.normal{
  font-size: 1rem ;
}
.mainPic {
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  display: inline-block;
    margin: 0 0.5rem;

    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.YTbutton{
font-size: 2rem;
 color:red;
}
.FBbebutton{
font-size: 2rem;
  color: #243c64
}
