body{
  background-color:  #511876;

}
.logonavbar{
  width: 100px;
  height: 50px;
}
.navbar{
  background-color: #511876;
}

.navbar a{
  font-family: 'Noto Sans Thai', sans-serif !important;
  color: white;
}
.navbar ul{
  background-color: #511876;
}
.container-fluid{
  height: 60px;
  background-color: #511876;
}
.collapse{
  height: 60px;
}
h1{
  line-height: 1.5;
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 3rem ;
}
.text_animate {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.card-title{
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 2rem ;
  color: black ;
}
.indexcard-title{
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 2rem ;
  text-align: center;
  color: black ;
}
.indexcard-text{
  font-family: 'Noto Sans Thai', sans-serif !important;
  font-size: 1.5rem ;
  text-align: center;
  color: black ;
}
.card-text{
  color: black ;
}
#title{
  background-color: #511876;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
}
#Testimonial {
  background-color: #ADFF2F;
  margin-top: 25px;
  margin-bottom: 25px;
}
#bottom-bar{
  background-color: #edd0e1;
}
.center{
  text-align: center;
}
.bigtitle{
  font-size: 5rem;
}
.nexttitle{
  font-size: 4rem;
}
.center-text{
  text-align: center;
  font-size: 3rem ;
}
.image-row{
width: 100%;
margin:50px auto ;
text-align: center;
}

.normal{
  font-size: 1rem ;
}
.mainPic {
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  display: inline-block;
    margin: 0 0.5rem;

    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.middle-container{
}
.image_animate{
  width: 100%;
}
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.YTbutton{
font-size: 2rem;
 color:red;
}
.FBbebutton{
font-size: 2rem;
  color: #243c64
}


.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
